//
// LIBS' CONFIG
//

@import
    "~fomantic-ui-sass/src/variables",
    "~@fortawesome/fontawesome-free/scss/_variables";

//
// Semantic options
//
$import-google-fonts: false;
$use-icon: false; // we use own font-awesome
$theme-folder: "..";
$image-path: "#{$theme-folder}/img";
$font-path: "#{$theme-folder}/fonts";

/// Change color theme
// Main
$full-black: #000000;
$light-black: #0c0c0c;
$dark-white: #1c1c1c;
$mid-white: #2c2c2c;
$off-white: #3c3c3c;
$white: #4c4c4c;

$primary: #3ad0e3;
$secondary: #e885bc;
$page-background: #161616;

// $solid-border-color: $darkColor;
// $solid-white-border-color: $darkestColor;

// Text
$link-color: $primary;

$text-color: $inverted-text-color;
$dark-text-color: $inverted-text-color;
$muted-text-color: $inverted-muted-text-color;
$light-text-color: $inverted-light-text-color;
//
$unselected-text-color: $inverted-unselected-text-color;
$hovered-text-color: $inverted-hovered-text-color;
$pressed-text-color: $inverted-pressed-text-color;
$selected-text-color: $inverted-selected-text-color;
$disabled-text-color: $inverted-disabled-text-color;

// Modal
$modal-header-background: $off-white;
$modal-content-background: $white;
$modal-basic-header-color: $text-color;
$modal-basic-color: $text-color;

// Input
$label-background-color: $mid-white;
$input-background: $light-black;
$input-color: $text-color;
$input-focus-color: $hovered-text-color;
$input-placeholder-focus-color: $text-color;
$input-transparent-inverted-color: $text-color;

//
// Font-awesome options
//
$fa-font-path: $font-path;
