@import "_variables";
//
// Semantic overrides
//
// Override card text
.ui.card .content .description {
  color: unset;
}
// Add spaced buttons
.ui.button.spaced, .ui.buttons.spaced {
  margin-bottom: 1em;
}
// Add content scaling
#sidebarMenu ~ .pusher {
  position: static;
  transition-property: width, transform;
  width: 100%;
  overflow: visible;
}
#sidebarMenu.visible ~ .pusher {
  width: calc(100% - 260px);
}
// Make loading dimmer the correct color
.pusher .ui.form.loading::before{
  background: transparentize($page-background, .25);
}
// Fix toast icons
.ui.toast  > .icon{
  float: left;
  margin-right: .75rem;
}
// Add margin to button groups
.ui.buttons{
  font-size: unset;

  &::before,&::after{ content: unset !important; }
}
// Fix button colors
.ui.basic.buttons .button,
.ui.basic.button {
  &:not(:hover){
    color: $text-color !important;
  }
  &:hover{
    color: $hovered-text-color;
    background: transparent;
  }
  &:focus{
    color: $pressed-text-color;
    background: transparent;
  }
}
//
.ui.content.attached.top.bottom{
  border-radius: 0 !important;
}
// Make breadcrumb a block
.ui.breadcrumb{
  display: block;
}
// cards enhancements
.ui.cards {
  margin: 0;

  .ui.card{
    flex: 1;
    max-width: 320px;
    min-width: 260px;
  }
}
// Add colored popup
.ui.popup{
  &.green,&.green::before{
    background: $green-background !important;
    color: $green;
    border-color: $green;
  }
}
// add margin to intable menus
.ui.table .ui.menu.compact{
  margin: 2.5px;
}
// make scrollable content scrollable only on Y
.content.scrolling{
  overflow-x: hidden !important;
}

//
// DataTables overrides
//
//
.dt-semanticUI{
  .row{
    padding: 8px 0 !important;
  }
}

//
// Bug fixes
//
.ui.inverted.menu, .EasyMDEContainer .inverted.menu.CodeMirror,
.EasyMDEContainer .editor-toolbar button.menu, .EasyMDEContainer
.inverted.menu.editor-toolbar {
  &::after{ content: none; }
}
