@import "_variables";

@font-face {
  font-family: Azonix;
  src: local(Azonix), url("/fonts/Azonix.otf") format("opentype");
  font-display: fallback;
}

/**************/

html,body{
  scrollbar-width: thin;
  scrollbar-color: $dark-white $page-background;
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/**************/

.text-center, .ui.input.text-center > input {
  text-align: center !important;
}

.nopadding { padding: 0 !important; }
.nomargin { margin: 0 !important; }

.fillscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.attachedTop, .attachedTop > input {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.attachedBottom, .attachedBottom > input {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.separator-v {
  display: inline-block;
  margin: 2px 8px;
  height: 100%;
  min-height: 1rem;
  border-right: 1px solid $off-white;
}

/**************/

#gameScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: hidden;
  opacity: 1;
  transition: opacity .25s;

  &.hide {
    opacity: 0;
  }
}

/**************/

#gui {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .screen {
    @extend .fillscreen;
    opacity: 0;
    transition: opacity .25s;
    pointer-events: auto;
    background-color: $page-background;

    &.active {
      opacity: 1;
    }

    &.hud {
      background: none;
      pointer-events: none;

      & > * {
        pointer-events: auto;
      }
    }

    & > .container {
      height: 100%;
    }

    .mainscreen {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: column;
      padding: 32px 8px 16px;
      position: relative;
      z-index: 1;
    }
  }
}

.sitename {
  font-family: Azonix, sans-serif !important;
  font-size: 5rem !important;
  text-shadow: 0 0 .5rem black;
  max-width: 420px;
  text-align: center;
  line-height: .75 !important;
  margin-top: auto !important;
}

#mainMenu {
  margin: auto;
}

.charSelect {
  max-width: 1920px;
  margin: 0 auto;
  transition: height .5s;
  overflow: hidden;
}
